/* MyriadPro-Regular */
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./fonts/MyriadPro-Regular.eot');
  src: url('./fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('./fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('./fonts/MyriadPro-Regular.woff') format('woff'),
       url('./fonts/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ProximaNova-Semibold */
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./fonts/ProximaNova-Semibold.eot');
  src: url('./fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
       url('./fonts/ProximaNova-Semibold.ttf') format('truetype'),
       url('./fonts/ProximaNova-Semibold.woff') format('woff'),
       url('./fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ProximaNova-Light */
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('./fonts/ProximaNova-Light.eot');
  src: url('./fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
       url('./fonts/ProximaNova-Light.ttf') format('truetype'),
       url('./fonts/ProximaNova-Light.woff') format('woff'),
       url('./fonts/ProximaNova-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

