
@media screen and (max-width: 1199px){
	.l-header-item_between .p-inner{
		margin-left: auto;
		margin-right: auto;
	}
	.p-footer p br{
		display: none;
	}
	.p-footer__list{
		margin: 0 -15px;
	}
	.p-footer__item{
		padding: 0 15px;

	}
	.l-question .p-wrap_inner{
		padding:50px;
	}
}
@media screen and (max-width: 991px){
	.l-header-item_top .p-inner{
		display: none;
	}

	.l-question .p-wrap_item{
		width: 100%;
	}
	.l-question{
		height: auto;
	}
	.l-question:before{
		content: none;
	}
	.l-question .p-banner{
		display: block;
	}
	/* .l-question .p-wrap_inner{
		padding: 100px 45px;
	} */
	.p-partner ul{
		flex-wrap: wrap;
		justify-content: center;
	}
	.p-footer__item{
		width: 50%;
		margin-bottom: 50px;
	}
	.p-footer__item:last-child{
		width: 100%;
	}
	.p-footer__send{
		margin: auto;
	}
	.o-form__input input{
		width: 100%;
		margin-bottom: 20px;
	}
	.o-form__input{
		margin: auto;
	}
	.l-header-item_between .o-contents{
		display: none;
	}
	.c-menu{
		display: block;
	}
	html.mm-opening{
		overflow-y: auto; 
	}
	html.mm-opening .mm-slideout{
		padding-right: 50px;
	}
	html.mm-opening .wrapper:before{
		content: '';
	    width: 100%;
	    height: 100%;
	    background: #111111;
	    position: absolute;
	    z-index: 1;
	    opacity: .5;
	}
	.l-aboutUs .p-list li{
		width: 100%;
		margin-bottom: 40px;
	}
	.l-project .p-inner_nav{
		width: 100%;
		margin-top: 30px;
	}
	.l-project ul.list_tab li{
		width: 50%;
	}
	.p-constructs .o-inner_text{
		padding: 50px;
	}
	.l-project ul.list_tab{
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 768px){
	.l-header-item_below{
		height: 100vh;
	}
	.l-header-item_below .p-inner h5{
		font-size: 35px;
	}
	
	.l-project ul.list_tab li{
		width: 100%;
    	text-align: center;
    	margin-bottom: 25px;
	}
	.l-project .nav_item{
		padding-bottom: 15px;
	}
	.l-testimonials,
	.l-construct,
	.l-project,
	.l-aboutUs{
		padding: 50px 0;
	}
	.l-services{
		padding: 50px 0 100px;
	}
	.l-project .tab-pane a.seeAll{
		margin-top: 20px;
	}
	.l-project{
		/* padding: 70px  */
	}
	
	.p-title,
	.l-construct .p-title,
	.l-aboutUs .p-inner_aboutUs{
		max-width: 100% ;
	}
	.p-constructs__item:nth-child(3){
		order: 4;
	}
	.p-constructs__item{
		width: 100%;
		.o-inner_video{
			display: flex;
			justify-content: center;
		}
	}
	.l-testimonials .p-inner_contents li{
		width: 100%;
		margin-bottom: 20px;
	}
	.l-footer_top{
		padding: 0;
		padding-top: 50px;
	}
	.l-question .p-wrap_inner{
		padding: 50px 0;
	}
	.l-header-item_below .p-inner a{
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
	}
}
@media screen and (max-width: 576px){
	.p-footer__item{
		width:100%;
	}
	.p-constructs .o-inner_text{
		padding: 30px 0;
	}
	.l-footer_end .p-ftList{
		flex-direction: column;
		text-align: center;
	}
}
@media screen and (max-width: 400px){

}
@media screen and (max-width: 376px){

}